#profile-page {
    height: 100vh;
}

#profile-page .user {
    padding: 50px;

    display: flex;
    background-color: rgb(116, 116, 116);
    color: white;
    box-shadow: 0 0 20px 5px black;

    position: relative;
    z-index: 2;
}

#profile-page .user .go-back {
    height: 100%;
    border-radius: 8px;
    padding: 10px;

    display: flex;
    box-shadow: 0 0 20px 2px rgb(56, 56, 56);

    transition: background 0.3s;
}

#profile-page .user .go-back:hover {
    background-color:  rgb(85, 85, 85);
}

#profile-page .user img {
    height: 300px;
    width: 300px;
    margin-left: 50px;
    border-radius: 20px;

    box-shadow: 0 0 15px 2px black;

    animation: fade 800ms;
}

#profile-page .user .content {
    width: 30%;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    animation: fade 800ms;
}

#profile-page .user .content .access-user {
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s;
}

#profile-page .user .content .access-user:hover {
    background-color: #dddddd;
}

#profile-page .user .content .access-user span {
    margin-left: 10px;
    font-weight: bold;
}

#profile-page .user .content .user-container p {
    margin-top: 10px;
}

#profile-page .repos {
    margin-top: 20px;
    width: 100%;

    position: relative;
    z-index: 1;
    animation: moveDown 800ms;
}

#profile-page .repos h3 {
    margin-left: 15px;
    font-size: 20px;
    text-align: center;
}

#profile-page .repos ul {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 50% 50%;
}

#profile-page .repos ul li {
    margin: 10px 15px;
    /* border: 2px solid; */
    padding: 10px;
    background-color: rgb(116, 116, 116);
    box-shadow: 0 0 10px 0 rgb(65, 65, 65);

    border-radius: 10px;

}

#profile-page .repos ul li a {
    color: white;
}

#loading-user, #not-found-user {
    height: 100vh;
    width: 100vw;
}

#loading-user {
    display: flex;
    align-items: center;
    justify-content: center;   
}

#not-found-user {
    padding: 20px;
}

#not-found-user .go-back {

    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgb(56, 56, 56);
    transition: background 0.3s;
}

#not-found-user .go-back:hover {
    background-color:  rgb(197, 197, 197);
}

#not-found-user .not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 40px;
}
