
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html, body, #root {
    height: 100%;

    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
}

h5, button {
    font-weight: 500;
}

p, span, li {
    font-weight: 400;
    list-style-type: none;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-125%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes nono {
  0%,
  100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
}